@page "/settings"

<PageTitle>ZvezdoGpt Settings</PageTitle>

<div class="container h-100 py-4 d-flex flex-column">
    <h2 class="mb-4 text-center">Settings</h2>

    <div class="mb-5 fs-4">
        <AuthorizeView>
            <Authorized>Logged in as @context.User.Identity.Name</Authorized>
            <NotAuthorized>User not logged in</NotAuthorized>
        </AuthorizeView>
    </div>

    <div class="mb-3">
        <label for="api-key-input" class="form-label fs-4">API Key</label>
        <div class="input-group">
            <input id="api-key-input" class="form-control" @bind="apiKey" />
            <button class="btn btn-primary" @onclick="SaveApiKey">Save</button>
        </div>
    </div>

    <div class="mb-3">
        <label for="preferred-model" class="form-label fs-4">Preferred Model</label>
        <div class="input-group">
            <select id="preferred-model" class="form-select" @bind="selectedModel">
                @foreach (var model in availableModels)
                {
                    <option value="@model">@model</option>
                }
            </select>
            <button class="btn btn-primary" @onclick="SavePreferredModel">Save</button>
        </div>
    </div>
</div>
