@page "/settings"

<PageTitle>ZvezdoGpt Settings</PageTitle>

<div class="container h-100 py-4 d-flex flex-column">
    <h2 class="mb-4 text-center">Settings</h2>
    <div class="mb-3">
        <label for="apiKeyInput" class="form-label fs-4">API Key</label>
        <div class="input-group">
            <input id="apiKeyInput" class="form-control" @bind="apiKey" />
            <button class="btn btn-primary" @onclick="SaveApiKey">Save</button>
        </div>
    </div>
</div>
