<?xml version="1.0" encoding="utf-8"?>

<Project>
  <PropertyGroup>
    <PublishUrl>bin\Release\net9.0\browser-wasm\publish\</PublishUrl>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <TargetFramework>net9.0</TargetFramework>
    <RuntimeIdentifier>browser-wasm</RuntimeIdentifier>
    <RunAOTCompilation>true</RunAOTCompilation>
  </PropertyGroup>
</Project>