<?xml version="1.0" encoding="utf-8"?>

<Project>
  <PropertyGroup>
    <WebPublishMethod>SWACLI</WebPublishMethod>
    <ResourceId>/subscriptions/e842dc64-2974-4f9d-a619-83ff509ad64f/resourceGroups/Default/providers/Microsoft.Web/staticSites/zvezdogpt</ResourceId>
    <ResourceGroup>Default</ResourceGroup>
    <RuntimeIdentifier>browser-wasm</RuntimeIdentifier>
    <PublishProvider>AzureStaticSite</PublishProvider>
	<OutputLocation>wwwroot</OutputLocation>
	<RunAOTCompilation>true</RunAOTCompilation>
	<Environment>Production</Environment>
  </PropertyGroup>
</Project>